.admin-logo{
    color: #f77f00;
    font-size: 2rem;
}
.admin-nav{
    width: 100%;
    height: 50px;
    border: 2px solid #f77f00;
    color: #f77f00;
}
.admin-nav:hover{
    background-color: #f77f00;
    color: #f5f7fa;
}
.div-divider{
    position: absolute;
    width: 1px;
    background-color: rgba(247, 127, 0, 0.3);
    height: 50%; 
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.dashboard-title{
    position: relative;
    color: #f77f00;
}
.dashboard-title::after{
    content: "";
    width: 80px;
    height: 4px;
    border-radius: 3px;
    background-color: #f77f00;
    position: absolute;
    bottom: -12px;
    left: 5%;
}
.profile-display{
    border-radius: 50%;
}
.profile-display:hover{
    scale: 1.05;
    background-color: #eaeaea;
}
.profile-display::after{
    content: none;
}
.section-body{
    display: none;
    background-color: #f5f7fa;
}
.section-active{
    display: block;
    padding: 50px;
}
.table-container{
    background-color: #f5f7fa;
}
.section-container{
    margin-top: 50px;
}
.section-titles{
    color: #f77f00;
}
.cart-info{
    display:flex;
    flex-wrap:wrap;
 }
th{
    text-align:left;
    padding:10px;
    color:white;
    background:#f77f00;
}

td{
    padding:10px;
}
td img{
    width:90px;
    margin-right:10px;
    
}
tr{ 
    border: 1px solid #f77f00;
    background-color: #f5f7fa;
}
.btn-remove{
    color: #f77f00;
    text-decoration: none;
    border: none;
}
.btn-remove:hover{
    color:#a12732;
    border: none;
}
.btn-remove:active{
    color:#a12732;
    border: none;
}
.btn-section-active{
    background-color: #f77f00;
    color: #f5f7fa;
}
.account-nav{
    width: 100%;
    height: 50px;
    border-radius: none;
    border: 1px solid #f77f00;
    color: #f5f7fa;
    background-color: #f77f00;
}
.account-body{
    display: none;
}
.account-active{
    display: block;
    padding: 50px;
}
.form{
    width: 500px;
}
.in-field{
    width: 80%;
    background: #eaeaea;
    margin: 15px 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.in-box{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
}
.input-icon{
    margin-left: 15px;
    color: #f77f00;
}
.error-message{
    color:red;
    margin-top: 5px;
    display: none;
}
.error-print{
    display: inline-block;
}
.in-field-invalid{
    background-color: #f8e5e5;
    border: 2px solid red;
}
.success-print{
    color:green;
    margin-top: 5px;
    display: inline-block;
}
.in-field-success{
    background-color: rgb(223, 250, 223);
    border: 2px solid green;
}
.btn-update{
    margin: 20px 20px 0;
    border-radius: 20px;
    border: 2px solid #f77f00;
    background-color: #f5f7fa;
    width: 80%;
    color: #f77f00;
    height: 44px;
}
.btn-update:hover{
    background-color: #f77f00;
    color: #f5f7fa;
}
.accountsettingscontainer{
    position: relative;
    border: 1px solid #f77f00;
}
.accountsettingscontainer::before{
    content: '';
    position: absolute;
    top: -0.5px;
    left: 0;
    right: 51.4%;
    border-top:4px solid #f8f9fa;
}
.account-nav-active{
    background-color: #f5f7fa;
    color: #f77f00;
    border-bottom: none;
}
.cart-info i{
    color:rgb(207, 57, 57);
    font-size:medium;

}
.scrollable-div{
    position: relative;
    
    width: 100%;
    height: 60vh;
    overflow: auto;
}
.header-sticky{
    position: sticky;
    top: -2px;
    z-index: 100;
    border-color:1px solid #f77f00;
}
.orders-action{
    color: #f77f00;
    border: none;
}
.orders-action:hover{
    color: #6d3a03;
    border: none;
}
.orders-action::after{
    content: none;
}
.orders-hover:hover{
    background-color: #f77f00;
    color: #f5f7fa;
}
.address-box{
    position: relative;
    border: 3px solid #f77f00;
    padding: 20px;
}
.address-label{
    position: absolute;
    top: -15px;
    color: #f77f00;
    background-color: white;
    font-size: 1.25rem;
}
.items-box{
    position: relative;
    border: 3px solid #f77f00;
    padding: 20px;
}
.items-label{
    position: absolute;
    top: -15px;
    color: #f77f00;
    background-color: white;
    font-size: 1.25rem;
}
.tot-box{
    position: relative;
    border: 3px solid #f77f00;
    padding: 20px;
}
.tot-label{
    position: absolute;
    top: -15px;
    color: #f77f00;
    background-color: white;
    font-size: 1.25rem;
}
.payment-box{
    position: relative;
    border: 3px solid #f77f00;
    padding: 20px;
}
.tr-modal{
    border: none;
    background-color: white;
}
.td-modal{
    background-color: none;
}
.message-unread{
    background-color: #f5e3d1;
}
.table-like{
    padding: 5px;
    border: 1px solid #f77f00;
}
.message-content{
    padding: 10px;
}
.btn-reply{
    background-color: #f77f00;
    color: #f5f7fa;
}
.btn-reply:hover{
    background-color: #934d03;
    color: #f5f7fa;
}
.input-field{
    background: #eaeaea;
    margin: 20px 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.in-box{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
}
.input-icon{
    margin-left: 15px;
    color: #f77f00;
}
.successful-print{
    display: inline-block;
    color: green;
}
.mess-main{
    position: relative;
}
.mess-counter{
    position: absolute;
    display: block;
    top: -8px;
    right: 8px;
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    color: #f5f7fa;
}
.floating-button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #f77f00;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow:5px 8px 10px -1px rgba(17,17,17,0.75);
}
.floating-button:hover .button-div{
    scale: 1.10;
    
}
.floating-button:hover{
    background-color: #c96a05;
}
.btn-confirmadd{
    margin: 20px 20px 0;
    border-radius: 20px;
    border: 2px solid #f77f00;
    background-color: #f5f7fa;
    width: 80%;
    color: #f77f00;
    height: 44px;
}
.btn-confirmadd:hover{
    background-color: #f77f00;
    color: #f5f7fa;
}
.nothing-container{
    height: 60vh;
    color: #eaeaea;
}
.btn-menubuchsan{
    color: #f77f00;
    border: none;
}
.btn-menubuchsan:hover{
    color: #c96a05;
}
.custom-offcanvas{
    max-width: 250px;
}
.header-hide{
    display: none;
}
@media(max-width:992px){
    .dashboard-title{
        font-size: 1.75rem;
    }
    .dashboard-title-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}