.generated-hover:hover{
    scale: 1.05;
}
.book-details{
    background-color: #f77f00;
    color: #f5f7fa;
}
.outer-star{
    position: relative;
    font-size: 2rem;
    display: inline-block;
}
.outer-star::before{
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #d3d3d3;
}

.inner-star{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.inner-star::before{
    content: "\2605 \2605 \2605 \2605 \2605";
    color: gold;
}
.rating-text{
    font-size: 1.25rem;
}
.rating-box{
    max-width: 90%;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.synopsis-body{
    font-size: 1rem;
}

.btn-addtocard-modal{
    border: 2px solid #f77f00;
    color: #f77f00;
}
.btn-addtocard-modal:hover{
    background-color: #f77f00;
    color: white;
}
.modal-cover-image{
    position: relative;
    width: 100%;
    height: auto; 
    padding: 2rem;
    padding-bottom: 0.5rem;
}
.synopsis-text{
    text-indent: 40px;
    font-size: 1rem;
}
.image-group-div{
    position: relative;
}
.image-div-modal{
    position: sticky;
    top: 0;
    left: auto;
    width: 55%;
    height: auto;
}
.heart-div-modal{
    position: relative;
}
.heart-inside-modal{
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.save-button-modal{
    color: #f77f00;
    background-color: transparent;
}
.save-div-modal{
    position: absolute;
    background-color:rgba(245, 247, 250, 0.4);
    border-radius: 10px;
    padding: 10px;
    top: 55px;
    right: 55px;
}
.save-div-modal:hover{
    background-color:rgba(245, 247, 250, 0.6);
    animation: ease-in;
}
.save-button-inside-modal:hover{
    color: #f77f00;
}
.related-books{
    color: #f77f00;
}
@media(max-width:992px){
    .new_arrival{
        height: 8rem;
        width:18rem;
        font-size: 5rem;
        left: -1rem;
        top: 1rem;
    }

    .modal-cover-image{
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto; 
        padding: 2rem;
        object-fit: cover;
    }
    .testi-comment{
        padding: 0 3rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        color: #333;
    }
    .save-div-modal{
        position: absolute;
        background-color:rgba(245, 247, 250, 0.4);
        border-radius: 10px;
        padding: 10px;
        top: 50px;
        right: 50px;
    }
    .modal-cover-image{
        position: relative;
        width: 100%;
        height: auto; 
        padding: 2rem;
        padding-bottom: 0.5rem;
    }
    .image-div-modal{
        position: sticky;
        top: 0;
        left: auto;
        width: 75%;
        height: auto;
    }
}
