.p-txt{
    text-indent: 2rem;
}
.title-txt{
    margin-top: 20px;
    color: #f77f00;
    margin-bottom: 60px;
    position: relative;
}
.title-txt::after{
    content: "";
    width: 80px;
    height: 4px;
    border-radius: 3px;
    background-color: #f77f00;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.section2-bg{
    background-image: url("../images/aboutus-picture2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
    color: #f5f7fa;
}
.box-div{
    height: 100%;
    padding: 50px;
    backdrop-filter: blur(5px);
    background-color: rgba(125, 125, 125, 0.6);
    color: #f5f7fa;
    border-radius: 40px;
}