body{
    background-color: #FFBB5C;
}
.popup{
    width: 90%;
    max-width: 400px;
    background-color: #f5f7fa;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 20px 20px;
    color: #3c1518;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.3s, top 0.4s;
}
.popup-open{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
.popup-image{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{   
    margin: 30px 0px 20px;
}
.btn-ok{
    margin-bottom: 20px;
    margin-top: 30px;
    width: 50%;
    height: 50px;
    background-color: #f77f00;
    color: #f5f7fa;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.btn-ok:hover{
    background-color: #f5f7fa;
    color: #f77f00;
    border: 2px solid #f77f00;
}


.form-box{
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f5f7fa;
    padding: 50px 60px 50px;
    text-align: center;
    border-radius: 50px;
}
.signup-title{
    margin-bottom: 50px;
    color: #f77f00;
    position: relative;
    font-weight: 800;

}
.signup-title::after{
    content: "";
    width: 80px;
    height: 4px;
    border-radius: 3px;
    background-color: #f77f00;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.in-field{
    background: #eaeaea;
    margin: 15px 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.in-box{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
}
.input-icon{
    margin-left: 15px;
    color: #f77f00;
}
.btn-submit{
    margin: 20px 20px 0;
    border-radius: 20px;
    border: 2px solid #f77f00;
    background-color: #f5f7fa;
    width: 80%;
    color: #f77f00;
    height: 44px;
}
.btn-submit:hover{
    background-color: #f77f00;
    color: #f5f7fa;
}
.error-message{
    color:red;
    margin-top: 5px;
    display: none;
}
.error-print{
    display: inline-block;
}
.in-field-invalid{
    background-color: #f8e5e5;
    border: 2px solid red;
}
.btn-redirectlogin{
    
    margin: 20px 20px 0;
    border-radius: 20px;
    border: 2px solid #f77f00;
    background-color: #f77f00;
    width: 80%;
    height: 44px;
    color: #f5f7fa;
}

.btn-redirectlogin:hover{
    border: 2px solid #f77f00;
    background-color: #f5f7fa;
    color: #f77f00;
}
.hide-content {
    display: none;
}
.overlay {
    /* Your overlay styles */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: block; /* Initially hidden */
}
.mini-footer{
    background-color: #B36910;
    padding-bottom: 10px;
    padding-top: 10px;
}
.mini-footer-text{
    color: #f5f7fa;
}
.mini-footer-text:hover{
    color: #3c1518;
    scale: 1.05;
}
.or-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 10px;
    justify-content: center;
}

.or-container::before,
.or-container::after {
    content: "";
    flex: 0.2;
    height: 1px;
    background-color: rgba(247, 127, 0, 0.5);
}
.or{
    padding: 0 10px;
    font-weight: bold;
    color: #f77f00;
}
@media(max-width:576){
    .container-form{
        padding-bottom: 1000px;
    }
}
@media(max-height: 668px){
    body{
        height: 125vh;
    }
    .form-box{
        margin-top: 50px;
    }
}