.dropdown-menu li {
    position: relative;
}
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}
.addto-cart{
    position: relative;
    color: #f77f00;
    padding: 6px;
}
.addto-cart:hover{
    scale: 1.05;
}
.saved-bookspage{
    position: relative;
    color: #f77f00;
    padding: 6px;
}
.saved-bookspage:hover{
    scale: 1.05;
}
.cart-amount{
    position: absolute;
    top: -8px;
    right: 0px;
    font-size: 16px;
    background-color: red;
    color: #f5f7fa;
    padding: 3px;
    border-radius: 5px;
}
.profile-display{
    border-radius: 50%;
}
.profile-display:hover{
    scale: 1.05;
    background-color: #eaeaea;
}
.profile-display::after{
    content: none;
}